@tailwind base;
@tailwind components;
@tailwind utilities;


/* Body styles */

:root {
    --body-bg: #EBEFF1;
    --body-bg-2: #B5C2CD;

    --green-light: #90D0B5;
    --green-semi-light: #3B9B6E;
    --green-dark: #006B25;
    --text-color: #3D454F;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}